In [ ]:
# Source of the following content: https://www.w3schools.com/python/

In [4]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [5]:
print(myclient.list_database_names())    
# expected: ['admin', 'config', 'local']

['admin', 'config', 'local']

In [7]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else:
    print("mydatabase does not exist")

mydatabase does not exist

In [9]:
mycol = mydb["customers"]

In [10]:
print(mydb.list_collection_names())

[]

In [11]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")
else:
    print("customers collection does not exist")

customers collection does not exist

In [12]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [14]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

5de7ca83fe94d15ddc48e801

In [53]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5de7d033fe94d15ddc48e80e'), ObjectId('5de7d033fe94d15ddc48e80f'), ObjectId('5de7d033fe94d15ddc48e810'), ObjectId('5de7d033fe94d15ddc48e811'), ObjectId('5de7d033fe94d15ddc48e812'), ObjectId('5de7d033fe94d15ddc48e813'), ObjectId('5de7d033fe94d15ddc48e814'), ObjectId('5de7d033fe94d15ddc48e815'), ObjectId('5de7d033fe94d15ddc48e816'), ObjectId('5de7d033fe94d15ddc48e817'), ObjectId('5de7d033fe94d15ddc48e818'), ObjectId('5de7d033fe94d15ddc48e819')]

In [17]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [23]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('5de7ca4afe94d15ddc48e800'), 'name': 'John', 'address': 'Highway 37'}

In [24]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5de7ca4afe94d15ddc48e800'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de7ca83fe94d15ddc48e801'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e802'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e803'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e804'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e805'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e806'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e807'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e808'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e809'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [26]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5de7ca4afe94d15ddc48e800'), 'name': 'John'}
{'_id': ObjectId('5de7ca83fe94d15ddc48e801'), 'name': 'Peter'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e802'), 'name': 'Amy'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e803'), 'name': 'Hannah'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e804'), 'name': 'Michael'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e805'), 'name': 'Sandy'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e806'), 'name': 'Betty'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e807'), 'name': 'Richard'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e808'), 'name': 'Susan'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e809'), 'name': 'Vicky'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80a'), 'name': 'Ben'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80b'), 'name': 'William'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80c'), 'name': 'Chuck'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80d'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [28]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5de7caa1fe94d15ddc48e80a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [29]:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5de7caa1fe94d15ddc48e804'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e807'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e809'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5de7caa1fe94d15ddc48e802'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e806'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e803'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de7ca4afe94d15ddc48e800'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e804'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5de7ca83fe94d15ddc48e801'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e807'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e805'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e808'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e809'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5de7caa1fe94d15ddc48e80b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [45]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

In [46]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [47]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

0  documents deleted.

In [50]:
# x = mycol.delete_many({})

# print(x.deleted_count, " documents deleted.")

In [52]:
# mycol.drop()

In [54]:
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5de7d033fe94d15ddc48e80e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5de7d033fe94d15ddc48e80f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de7d033fe94d15ddc48e810'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5de7d033fe94d15ddc48e811'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de7d033fe94d15ddc48e812'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5de7d033fe94d15ddc48e813'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5de7d033fe94d15ddc48e814'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5de7d033fe94d15ddc48e815'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5de7d033fe94d15ddc48e816'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5de7d033fe94d15ddc48e817'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5de7d033fe94d15ddc48e818'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5de7d033fe94d15ddc48e819'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [56]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5de7d033fe94d15ddc48e80e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5de7d033fe94d15ddc48e80f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5de7d033fe94d15ddc48e810'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5de7d033fe94d15ddc48e811'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5de7d033fe94d15ddc48e812'), 'name': 'Betty', 'address': 'Green Grass 1'}